:root {
    --white-1: #d3d3d9;
    --black-1: #0e0e10;
    --black-2: #1f1f23;
    --gray-1: #323239;
    --gray-2: #3b3b44;
    --gray-3: #53535f;
    --purple-1: #9147ff;
    --purple-2: #a970ff;
}

body {
    margin: 0;
    color: var(--white-1);
    background: var(--black-1);
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--gray-2);
}

.logo {
    width: 2.5em;
    height: 2.5em;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: contain;
}

#settings-button {
    border: none;
    padding: 0px;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    margin-left: auto;
    margin-right: 10px;
    color: var(--purple-1);
    background-color: var(--gray-2);
}

#settings-button:hover {
    color: var(--purple-2);
}

main {
    padding: 16px;
}

.segment-title {
    margin: 0px;
    color: var(--purple-1);
}

#live-followed-channels {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--gray-3);
}

.stream-card {
    width: 320px;
    padding: 14px;
    display: grid;
    column-gap: 8px;
    margin-top: 8px;
    border-radius: 8px;
    color: var(--white-1);
    box-sizing: border-box;
    background: var(--black-2);
    border: 1px solid var(--gray-3);
    grid-template-columns: 35px minmax(0, 1fr);
}

.preview-image {
    grid-column: 1 / -1;
}

.preview-image img {
    width: 100%;
}

.profile-image {
    grid-column: 1;
    grid-row: 2 / span 5;
    align-self: start;
}

.profile-image img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.title,
.username,
.category,
.tags,
.open {
    grid-column: 2;
    font-size: 14px;
}

.title,
.username,
.category {
    margin-top: 6px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--white-1);
    text-overflow: ellipsis;
}

.tags {
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: 10px;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 999px;
    background: var(--gray-1);
}

.open {
    font-size: 13px;
    padding: 6px 8px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 999px;
    color: var(--white-1);
    display: inline-block;
    text-decoration: none;
    background: var(--purple-1);
}

.open:hover {
    background: var(--purple-2);
}

.field {
    position: relative;
}

label {
    top: -7px;
    left: 19px;
    font-size: 10px;
    padding: 1px 2px;
    color: var(--white-1);
    line-height: 12px;
    position: absolute;
    background: var(--black-1);
    border-radius: 999px;
}

input {
    width: 100%;
    height: 42px;
    padding: 10px;
    color: var(--white-1);
    border-radius: 6px;
    margin-bottom: 10px;
    background: #18181b;
    box-sizing: border-box;
    border: 1px solid var(--gray-3);
    outline: none;
}

input:focus {
    border-color: var(--purple-1);
}

.row {
    gap: 12px;
    display: flex;
    margin-bottom: 2px;
}

.row .field {
    width: 50%;
}